@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 48px;
    text-align: left;
}

.purple{
    color: #6415ff;
}

.grey{
    color: #A0AEC0;
    font-weight: bold;
    font-size: 12px;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}



.entire{
    padding: 32px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: center;
}


.nav__container{
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo__link{
    display: flex;
    align-items: center;
    margin-right: 24px;
}


.logo{
    width: 40px;
    margin-right: 12px;
}

.logo__link{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 4px;
}



.nav__link{
    margin: 0 24px;
    text-decoration: none;    
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #243e65;
    border-bottom: 0 solid;
    border-bottom-width: 2px;
    border-color: transparent;
}

.nav__link:hover{
    color: #6415ff;
    transition: all 100ms ease-in;
    border-color: #6415ff;
}

.nav__link:not(:hover){
    color: #243e63;
    border-color: transparent;
    transition: all 100ms ease;
}

.left{
    margin-left: 24px;
    margin-right: -4px;
}

.btn{
    background-color: #6415ff;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    transition: all 400ms ease;
    background-color: blueviolet;
}

.btn:not(:hover){
    transition: all 300ms ease;
    color: #6415ff;
    color: white;
}

/*

nav ^

*/
    .header__container{
        max-width: 1280px;
        width: 100%;
        padding: 96px 0;
        margin: 0 auto;
    }

    .header__description{
        display: flex;
        flex-direction: row;
    }

    .header__para{
        margin: 32px 0;
        font-size: 18px;
        line-height: 1.75;
        text-align: left;
        color: #243e63 ;
    }


    input,
    textarea,
    button{
        margin-bottom: 24px;
        font-size: 20px;
        padding: 6px 12px;
    }

    input{
        border-radius: 9999px;
        border-width: 2px;
        padding: 20px 192px 20px 32px;
        width: 100%;
        max-width: 448px;
    }

    .get-started__btn{
        width: 100%;
        max-width: 448px;
        margin-bottom: -24px;
        padding: 20px;
        margin-top: -8px;
        cursor: pointer;
    }

    .small__pictures{
        margin: 80px 0 0;
    }

    .header__left--img{
        opacity: .5;
        padding: 0 128px 0 0;
        margin-top: 16px;
        max-width: 533.33px;
    }

    .right__header--img{
        max-width: 746.67px;
    }


/* 

feastures

*/

.container{
    padding:  96px 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    
}

.feature__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.img__container{
    max-width: 66px;
    max-height: 66px;
    border-width: 1px;
    text-align: center;
    border-radius: 9999px;
    padding: 20px;
    border: solid #e5e7eb;
    display: flex;
    justify-content: center;

}

.feat__description{
    max-width: 576px;
    font-size: 18px;
    margin-top: 16px;
    line-height: 2;
    color: #7c8ba1;
    display: flex;
    text-align: center;
    padding-bottom: 16px;
}

.list__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list__service{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 16px;
    padding: 32px 8px;
    max-width: 310px;
    
}

.text__container{
    margin: 8px 0 0 16px;

}

.feat-title{
    font-weight: bold;
}

.feat__title{
    font-size: 24px;
    font-weight: bold;
}

.feat__h1{

}

.feat__para{
    font-size: 16px;
    margin-top: 16px;
    line-height: 2;
    color: #7c8ba1;
}

/* 

quality work

*/


.quality__wrapper{
    display: flex;
    justify-content: space-between;

}

.quality__contents{
    padding: 32px 0;
    margin-right: 48px;
}

.quality__title{
    font-size: 16px;
}

.quality__header,
.quality__para{
    text-align: left;

}

.quality__header{
    margin-top: 16px;
}

.quality__para{
    font-size: 18px;
    margin-top: 16px;
    line-height: 1.6;
    color: #7c8ba1;
}

.qbtn{
    margin-top: 32px;
    margin-bottom: -24px;
}



.qual__img{
    max-width: 640px;
    max-height: 411.17px;
}

/*  

quaLITY WORK

*/

.step__wrap{
    display: flex;
    justify-content: space-around;
}

.steps{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step{
    margin-top: 32px;
    width: 66%;
    align-items: flex-start;
}

.left__img--step{

    display: flex;
    justify-content: center;
    align-items: center;
}

.quality__header{

}


.numbers{
    font-size: 36px;
}

.list__item{
    margin-left: 24px;
}

.list__title{
    font-size: 20px;
}

.li__para{
    font-size: 14px;
    margin-top: 12px;
    line-height: 2;
}

/* 

steps

*/

.val__container{
    display: flex;
}

.value__wrap{
    padding: 32px 0;
}

.value__header{
    margin-top: 16px;
}

.value__para{
    margin-top: 32px;
}

.stats{
    display: flex;
}

.affordable{
    margin: 32px 32px 0 0;
}

.title__stat{
    display: flex;
}

.h3tit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

.af__para{
    margin-top: 16px;
    color: #718096;
}

.dollar{
    width: 36px;
    height: 36px;
}

.val__btn{
    margin-top: 48px;
}

.value__right{
    max-width: 640px;
}

/* 

value

*/

.price__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.65;
}

.jizz{
    margin-bottom: 16px;
}

.compress{
    width: 100%;
    max-width: 560px;
    text-align: center;
}

.threeplans{
display: flex;
justify-content: space-between;
}

.e10


.oneplan{
    margin: 64px 54px 0 0;
    padding: 8px 32px 0;
    width: 100%;
    border-radius: 12px;
}

.purp__plan{
    background-color: rgb(76, 81, 191);
    text-align: center;
}

.plan__header,
.plan__middle,
.plan__btn{
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.name{
    font-size: 20px;
}

.price{
    font-size: 48px;
    margin: 4px 0;
}

.duration{
    font-size: 16px;
    color: #edf2f7;
}

.feature{
    margin-top: 20px;
}

.purc{
    color: #e2e8f0;
}

.name,
.price,
.duration{
    font-weight: bold;
}

.name,
.price,
.main__feature{
    color: #f7fafc;
}

.buy__btn{
    background-color: #ffff;
    color: #6415ff;
    padding: 12px 32px;
    font-size: 14px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.buy__btn:hover{
   
}

.redbtn{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: #e2e8f0;
}

.redplan{
    color: black;
    background-color: lightslategrey; 
    border: #243e63;
}

.plan__middle{
    box-sizing: border-box;
    border-top: solid #e5e7eb;
    border-bottom: solid #e5e7eb;
    margin: 0 -32px;
}

/* 

three plans

*/

.test__all{
    display: flex;
}

.test__left--img{
    width: 100%;
    width: 640px;
    height: auto;
}

.testimonial__wrap{
    padding-left: 64px;
    display: flex;
    flex-direction: column;
}

.b{
    font-size: 16px;
    font-weight: bold;
}

.testp{
    margin-top:24px ;
}

.div{
    display: flex;
}

.person__review{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review__img{
    width: 80px;
    border-radius: 9999px;
}

.tpara{
    margin: 0;
}

.stress__button{
    background-color: #e5e7eb;
    color: #6415ff;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: -24px;
    width: 48px;
    height: 48px;
}


.buttons{
    display: flex;
    
}

.divider{

}


/*

footer

*/

#footer{
    background-color: #6415ff;
}

.footer__container{
    display: flex;
}

.footer__link--container{
    flex-direction: column;
    margin-top: 12px;
}

.footer__main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100%/5);
    align-items: center;
    text-align: left;
}

.ftit{
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
}

.footer__link{
    font-size: 14px;
    color: #f7fafc;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 4px;
    border-bottom: 0 solid;
    border-bottom-width: 2px;
    border-color: transparent;
}




.footer__link:hover{
color: #f7fafc;
transition: all 200ms ease-in;
border-color: #f7fafc;
}

.footer__link:not(:hover){
color: #f7fafc;
border-color: transparent;
transition: all 200ms ease;
}

.fdiv{
    margin-top: 64px;
    margin-bottom: 64px;
    border-bottom: 0 solid rgba(255, 193, 139, 0.365);
    border-bottom-width: 2px;
    width: 100%;

}

.bottom__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ftb{
    margin-left: 8px;
}

.footer__logo{
    width: 32px;
}

.footer__btn{
    width: 32px;
    height: 32px;
}